nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: teal;
}

footer.page-footer {
  margin: 0;
}

main div#roster.container, main div#stats.container {
  padding-top: 48px;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: teal;
}

.indicator {
  background-color: teal !important;
}
      
.tabs .tab a {
  color: #80cbc4;
}

.uppercase {
  text-transform: uppercase;
}

.footer-copyright a{
  color: white !important;
}

div#stats div.card {
  background-color:#26a69a;
}